.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    z-index: 1;
  }
  
  .mat-toolbar.mat-primary button {
    margin-right: 12px;
  }
