@import "./material-theme.scss";




/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background-color: $primary-color;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-90deg);
  }

  0% {
    transform: rotate(0deg);
  }

}